.root {
  display: flex;
  flex-direction: column;
  background: #ED786D;
  position: absolute;
  height: 100%;
  width: 480px;
  color: #FFFFFF;
}

.brand {
  font-size: 24px;
  margin: 30px 0 0 30px
}

.copyright {
  font-size: 14px;
  margin: auto auto 30px 30px;
}
