.root {
  display: flex;
  flex-direction: column;
  background: #ED786D;
  height: 100%;
  min-width: 320px;
  color: #FFFFFF;
}

.brand {
  font-size: 24px;
  margin: 30px 0 0 30px
}

.copyright {
  font-size: 14px;
  margin: auto auto 30px 30px;
}

@media (max-width: 768px) {
  .root {
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .brand {
    margin: 0 0 0 30px;
  }
  .copyright {
    display: none;
  }
}
