<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Colorfull - A fullscreen color picker</title>
        <style>
            html {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(90, 173, 169)), color-stop(0.42, rgb(43, 230, 205)), color-stop(0.86, rgb(201, 34, 227))) no-repeat center center fixed;
            }
            .colorfull-canvas {
                
            }
        </style>
    </head>
    <body>
        <article class="colorfull-canvas">
            
        </article>
    </body>
</html>