doctype html
html(lang="en")
  head
    title Home - CodeBean
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Codebean - Homepage of Xu Jingxin")
    link(rel="stylesheet", href="/stylesheets/index.css")
    script(id="gta-main", src="vendor/gta/lib/index.js", data-baidu="43f786342ba0680af108248b28280fdb", data-google="UA-33186961-1", data-mixpanel="204d761f0c52d9ddcf031ec634f98772")
  body
    header(role="banner")
      h1
        a(href="/") Xu Jingxin - Developer
      nav.navbar
        ul
          li.active Home
          li
            a(href="/blog") Blog
          li
            a(href="/projects") Projects
          li
            a(href="/playground") Playground
    main
      article
        h2 About
        p hello world
    footer
      p
        contact
          email
            a(href="mailto:sailxjx@gmail.com?subject=Just%20Say%20Hello%3F") sailxjx@gmail.com
      copyright © 2014 Xu Jingxin

