doctype 5
html(lang="en")
  head
    block title
      title OhMyGitpage
    include _head
    block stylesheet
    include _ga
  body
    include _navbar
    block content
    script(src="/static/js/lib/jquery-1.9.1.min.js")
    script(src="/static/js/lib/bootstrap-collapse.js")
    block javascript