doctype html
html(lang="en")
  head
    title CodeBean
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Codebean - Homepage of Xu Jingxin")
    link(rel="stylesheet", href="/styles/main.css")
    script(id="gta-main", src="/vendor/gta/lib/index.js", data-baidu="43f786342ba0680af108248b28280fdb", data-google="UA-33186961-1", data-mixpanel="204d761f0c52d9ddcf031ec634f98772")
  body
    header(role="banner")
      p.sketch
        a(href="/") Xu Jingxin - Developer
      nav.navbar
        ul
          li.nav.active Hom
          li.nav
            a(href="/blog") Blog
          li.nav
            a(href="/projects") Projects
          li.nav
            a(href="/playground") Playground
    main
      article
        | !{txt}
    footer
      copyright © 2014 Xu Jingxin

