@import "../variables.styl"

html, body {
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  font: 14px/1.5 "Microsoft Yahei", "微软雅黑", "Helvetica Neue", "PingFang SC", STXihei, "华文细黑", sans-serif;
  color: $basicColor;
}

.root {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
}
