extends _includes/_layout
block stylesheet
  link(href="/static/css/about.css", rel="stylesheet")
block content
  div.container
    div.about
      h2.about-title About Me
      p.font-medium
        | CodeBean, it's me. After a whole morning's hard working on 
        a(href="http://php.net/", target="_blank") PHP
        | , I'd like to drink a cup of 
        a(href="http://coffeescript.org/", target="_blank") Coffee
        |  in the afternoon. On weekend I prefer go to see a show of 
        a(href="http://www.python.org/") Python
        | , if the tickets could paid by 
        a(href="http://www.ruby-lang.org/", target="_blank") Ruby
        |  instead of cash, it will be amazing.
      p.font-medium
        | If you are interested in me and want arranging Further Contact, welcome mail to me, 
        a(href="mailto: sailxjx@gmail.com?subject=Just%20Say%20Hello%3F", target="_blank") sailxjx#gmail.com
      h2.about-title Social Networks
      ul.inline.font-medium
        li
          a(href="https://github.com/sailxjx", target="_blank") github
        li
          a(href="http://www.douban.com/people/novolander/", target="_blank") douban
        li
          a(href="http://weibo.com/greenbeanssoup", target="_blank") weibo
        li
          a(href="https://plus.google.com/102588932744890343699", target="_blank") google+
      h2.about-title Other
      p CodeBean，“酷豆”还是“苦逼”，这是一个问题。。。
block javascript
  script
    $('ul.nav').find('li')[2].className = 'active';