body {
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif, Arial;
    line-height: 30px;
}

a {
    color: skyblue;
    text-decoration: none;
}

.control-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(255,255,255,0.35);
    border-radius: 3px;
}

.control-panel dl {
    margin: 0;
}

.control-panel dl dt {
    float: left;
}

.control-panel dl dd {
    margin: 0 0 0 150px;
}