.album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
}

.image-container {
  display: inline-block;
  background-color: #EDEEEE;
  width: 275px;
  height: 275px;
  margin: 0 27px 27px 0;
  position: relative;
  img {
    width: 275px;
    height: 275px;
  }
}

.image-hover {
  cursor: pointer;
}
