@import "_variables"

body, html
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif
  font-size: font-size
  color: color-default

a
  text-decoration: none
  color: color-link
  transition: color 0.7s
  &:hover
    color: color-linkhover

header
  margin: 0 auto
  width: 900px
  .sketch
    margin: 30px 0 30px 0
    a
      color: color-default
  .navbar
    border-bottom: 1px solid color-cutline
    border-top: 1px solid color-cutline
    ul
      list-style: none
      height: 18px
      padding: 0
      li
        list-style: none
        float: left
        display: inline-block
        padding: 0 15px 0 0

main
  margin: 0 auto
  width: 900px
  article
    letter-spacing: 0.2px
    line-height: 30px
    width: 600px
    margin: 0 auto
    h1.article-title
      font-size: 50px
      text-align: center

footer
  padding-top: 10px
  margin: 50px auto
  border-top: 1px solid color-cutline
  width: 900px


